<md-card class="court-component">
    <md-card-header>
        <span class="md-headline">Court - </span>
    </md-card-header>
    <md-card-content>
        <md-card-actions>
            <div class="court-avatar"
                 style="background-image: url();">
                <md-tooltip>

                </md-tooltip>
            </div>
            <button md-fab color="primary" class="court-join-button">
                <md-icon>person_add</md-icon>
            </button>
            <button md-fab color="warn" class="court-join-button" >
                <md-icon>clear</md-icon>
            </button>
        </md-card-actions>
    </md-card-content>
</md-card>