<md-card>
    <md-card-header>
        <span class="md-headline">Court - </span>
    </md-card-header>
    <md-card-content>
        <md-card-actions>
            <div class="court-avatar"
                 style="background-image: url();">
                <md-tooltip>

                </md-tooltip>
            </div>
            <md-button
                    class="md-fab md-primary court-join-button">
                <md-icon md-font-library="material-icons">
                    person_add
                </md-icon>
            </md-button>
            <md-button class="md-fab md-warn court-join-button" >
                <md-icon md-font-library="material-icons">
                    clear
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-card-content>
</md-card>